/*=========-GERAL-=========*/
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root {
    font-size: 62, 5%;
    /* 1 rem = 10px*/
    --primary-color: hsl(170, 100%, 26%);
    --headline-color: hsla(210, 11%, 15%);
    --paragraph-color: hsl(210, 9%, 31%);
    --brand-beige-color: hsl(39, 100%, 97%);
    --brand-gree-color: hsl(148, 23%, 89%);
    

}

body {
    /**/
    font-family: 'DM Sans';
    font-size: 1.6rem;
    text-align: center;

    

}

.wrapper{
    width: 37.5rem;
    margin-left: auto;
    margin-right: auto;
}

/*==========- HEADER -==========*/
header::before {
    content: "";
    width: 37.5rem;
    height: 108.0rem;
    background-color: var(--brand-gree-color);
    display: block;
    position: absolute;
    left: 0;
    top: -4rem;
    z-index: -1;
    border: 1px solid red;
}

header img {
    /**/
    display: block;
    margin-inline: auto;
    width: 26.4rem;

}

header {
    /**/

    margin-top:4.1rem;
    position: relative;
     
}

header h1 {
    /*Linha 2*/
    font-size: 3.4rem;
    font-weight: 700;
    color: var(--headline-color);
    line-height: 130%;
}

header h3 {
    font-size: 4.8rem;
    font-weight: 700;
    color: var(--headline-color);
    line-height: 130%;
}

header h4 {
    /*Linha 1*/
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-bottom: 1.6rem;
}

header p {
    /*Linha 3*/
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--paragraph-color);
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
    

}

header button {
    /**/
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: white;
    background: var(--primary-color);
    border-radius: 4.0rem;
    border: 0px;
    height: 5.2rem;
    width: 26.3rem;
    margin-bottom: 6rem;

}

.stats {
    padding-block: 4ram;
    width: 32.7rem;
    height: 47rem;
    margin-inline: auto;
    background-color: var(--brand-beige-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}

.stat h3 {
    font-size: 4.8rem;
    color: var(--headline-color);
    margin-bottom: 0.4rem;
    line-height: 130%;
}

.stat p {
    font-size: 1.8rem;
    color: var(--primary-color);
    line-height: 150%;
}
/*==========- HEADER -==========*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;


}
